p This page is for single nerds to meet and date each other!  Type in your personal information and wait for the nerdly luv to begin!  Thank you for using our site.

footer
    <hr />
    p Results and page (C) Copyright NerdLuv Inc.

    ul
        li
            a(href="/")
                img(src="img/back.gif" alt="icon")
                |Back to front page

    a(href="https://webster.cs.washington.edu/validate-html.php")
        img(src="img/w3c-html5.png" alt="Valid HTML")

    a(href="https://webster.cs.washington.edu/validate-css.php")
        img(src="img/w3c-css.png" alt="Valid CSS")
